<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <link rel="stylesheet" href="../layouts/ass.css">
</head>
<body>
    <div class="container"><h1>Personal details</h1>
        <div class="element1">
            <div>
                <p>Name <br> <br>
                      Place and Date of Birth <br> <br>
                      Sex <br> <br>
                      Address <br> <br> <br>
                     Marital status <br> <br> <br>
                     Telephone Number <br> <br> <br>
                    Email </p></div>
            <div>
                <p>
                    :Anisa Khurani Kapur <br> <br>
                    :Surakarta, 19th december 1989 <br> <br>
                    :Female <br> <br>
                    :Jatan Srinarendo No.18 Solo <br> <br>
                    :Single <br> <br>
                    :0271-713130/085647183000 <br> <br> <br> 
                    :milliykha@hotmail.com <br> <br>
                </p></div>
                <div><img src="https://images.unsplash.com/photo-1665333994230-98bfdbf9f3e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
                </div>
            
        </div>

        <h2>Education</h2>
        <div class="element2">
            <div class="element2b">
                <ul>
                    <li>January 2012 </li> <br> <br> <br>
                    <li>2007  </li> <br> <br> 
                    <li>2004  </li> <br> 
                    <li>2007 <br></li> <br> <br>
                </ul>
            </div>
                <div>
                    <p>
                        Bachelor Degree at Universitas Sebelas Market 
                        Major :Management <br>
                        GPA  :<b>3.19</b> <br> 
                        <br> Finished Senior Highschool(SMAN 7 Surakarta) <br> <br>
                        <br> Finished Senior Highschool(SLTP N 7 Surakarta) <br> <br>
                       <br> Finished Senior Highschool(SD Ta'mirul Islam Surakarta) <br> <br>
                    </p>
                </div>
        </div>
            <div class="element3">
                <h2>Other Skills</h2>
                <div>
                    <ul style="list-style-type:disc">
                        <li>Microsoft Office</li>
                        <li>Internet Literacy</li>
                        <li>Active English with TOEFL ITP Score : <b>553</b></li>
                </ul>
                </div>
        </div>
        
        <h3>Working experience</h3>
        <div class="element4">
            <div>
                <ul style="list-style-type:disc">
                    <li>2011 - Present </li> <br>
                    <li>February 2011 </li> <br>
                    <li>2010 - Present </li> <br>
                    <li>2010 - 2011 </li> <br>
                </ul>
            </div>
            <div>
                <p>
                    English teacheer at Aisyiyah ABA Baron Kindagarten <br> <br>
                    <br> Internship at PT.Danar Hadi Export Division as Marketing Staff <br> <br> <br>
                    Acer Redemption Staff at APKOMINDO Expo Solo <br> <br> <br> 
                    Freelance at Rp.7 Communication and Advertising <br> <br> <br> <br>
                </p>
            </div>
        </div>

        <h3>Organisational Experience</h3>
        <div class="element5">
            <div>
                <ul>
                    <li>December 2010 </li> <br>
                    <li>2009 - 2010  </li> <br>
                    <li>2008 - 2009 </li> <br>
                    <li>2007 - 2010 </li> <br>
                </ul>
            </div>
        <div>
            <p>
                Producer of PENTAS PANAS Teater Gadhang FE UNS<br> <br>
                <br> Secretary of Teater gadhang FE UNS <br> <br>
                <br> Production staff of Teater Gadhanf FE UNS <br> <br>
                <br> Tutor of Nusa Indah illiteracy learning group <br> <br>
            </p>
        </div>
        </div>
    </div>
</body>
</html>