<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classwork</title>
    <link rel="stylesheet" href=".//classwork.css">
</head>
<body>
    <div class="housing-container"><h1>5 birthdays today</h1>
    <div class="element1">
        <img src="https://images.unsplash.com/photo-1665333994230-98bfdbf9f3e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
        <p>warrisi jones <br> 29 years</p>
    </div> <br>
    <div class="element2">
        <img src="https://images.unsplash.com/photo-1665333994230-98bfdbf9f3e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
        <p>richie brown <br> 29 years</p>
    </div> <br>
    <div class="element3">
        <img src="https://images.unsplash.com/photo-1665333994230-98bfdbf9f3e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
        <p>jonna morris <br> 29 years</p>
    </div> <br>
    <div class="element4">
        <img src="https://images.unsplash.com/photo-1665333994230-98bfdbf9f3e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
        <p>ferdinand terres <br> 29 years</p>
    </div> <br>
    <div class="cl">clear all</div>
    </div> 

</body>
</html>